---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Link from "@components/ui/link.astro";
import EmployeeImg from "../assets/employee.jpg";
import Logos from "@components/logos.astro";
import { Icon } from "astro-icon/components";
import Cta from "@components/cta.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="About" footerMargin={false}>
  <Container>
    <Sectionhead>
      <Fragment slot="badge">The Community</Fragment>
      <Fragment slot="title">Automatic Classifiers for Peace</Fragment>
      <Fragment slot="desc">
        We're an open-source community of researchers, organisations and individuals
        that are interested in aiding social media analysis through the automatic classification of
        social media discourse from a peacebuilding lens.
      </Fragment>
    </Sectionhead>
    <div class="mt-16 border-y py-6 border-slate-100">
      <Logos />
    </div>
    
    <div class="mt-6 text-center">
      <Link style="outline" size="sm" href="../peacebuilders" target="_blank" rel="noopener">
        I am a Peacebuilder →
      </Link> &nbsp
      <Link style="outline" size="sm" href="../bridgers" target="_blank" rel="noopener">
        I am a Bridger →
      </Link> &nbsp
      <Link style="outline" size="sm" href="../technologist" target="_blank" rel="noopener">
        I am a Developer →
      </Link>
    </div>

    <div class="grid sm:grid-cols-2 gap-10 mx-auto mt-24">
      <div class="relative">
        <div
          class="absolute hidden md:block w-96 h-96 bg-purple-100 rounded-full right-0 top-1/3 -z-10">
        </div>
        <div
          class="absolute hidden md:block w-44 h-44 bg-purple-100 rounded-full left-10 top-1/4 -z-10">
        </div>
        <Picture
          formats={["avif", "webp"]}
          src={EmployeeImg}
          alt="Happy Team"
          class="rounded-xl w-full max-w-md mx-auto shadow-2xl"
          loading="lazy"
        />
      </div>
      <div class="place-self-center">
        <h2 class="text-5xl text-gray-800 tracking-tight -mt-2">
          <span class="text-indigo-600">Our</span>
          {" "}
          <strong>Mission & Goals</strong>
        </h2>
        <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
          The ACfP reporsitory is aiming to be a space, tool or platform that can allow Collaboration
          between organisations or researchers in development of classifiers and models for peacebuilding.
          The community will ensure that:
        </p>
        <ul class="grid mt-6 text-left gap-y-4">
          <li class="flex items-center gap-3 text-slate-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />

            <span class="text-slate-600">The work is open source and can be access by the public</span>
          </li>

          <li class="flex items-center gap-3 text-slate-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />

            <span class="text-slate-600">There is Real-time Collaboration and other researchers and organisations can easily join</span>
          </li>

          <li class="flex items-center gap-3 text-slate-800">
            <Icon name="ph:check-circle-fill" class="w-5 h-5" />

            <span class="text-slate-600">We abide by global and local data protection, security & Privacy laws and regulations</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="mt-24">
      <h2 class="text-4xl lg:text-5xl lg:tracking-tight text-center">
        ACfP <span class="text-indigo-600 font-bold">Community</span>
      </h2>
      <p class="text-lg mt-4 text-slate-600 text-center">
        The following individuals constitute the members of ACfP, encompassing professionals from research, academia, industry, and volunteers.
      </p>
    </div>

    <div class="grid md:grid-cols-4 gap-10 mx-auto mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry?.data?.avatar?.src}
                alt={teamMemberEntry?.data?.avatar?.alt || "Team Member"}
                loading="lazy"
                width={400}
                height={400}
                formats={["avif", "webp"]}
                class="w-full h-full object-cover bg-white rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
  <Cta />
</Layout>
