---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import {
  Slack,
  Zapier,
  Intercom,
  Shopify,
  Messenger,
  Discord,
Tick,
} from "@components/ui/icons";

const integrations = [
  {
    name: "US Christianity",
    description:
      "To be updated.",
    Icon: Tick,
    link: "#",
  },

  {
    name: "Hatespeech Detection",
    description:
      "To be updated.",
    Icon: Tick,
    link: "#",
  },

  {
    name: "CITAD",
    description:
      "To be updated.",
    Icon: Tick,
    link: "#",
  },

  {
    name: "Sahel Intimidation",
    description:
      "To be updated.",
    Icon: Tick,
    link: "#",
  },

  {
    name: "Somaliland elections",
    description: "To be updated.",
    Icon: Tick,
    link: "#",
  },

  {
    name: "The Digital Us",
    description: "To be updated.",
    Icon: Tick,
    link: "#",
  },
];
---

<Layout title="Experiments">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Experiments</Fragment>
      <Fragment slot="desc">
        Review over 20+ experiemnts conducted by our community.
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 my-24 gap-x-10 gap-y-24">
      {
        integrations.map((item) => (
          <div class="rounded-2xl relative flex items-center flex-col p-6 group bg-white transition ring-2 ring-slate-200/50 shadow hover:ring-slate-200 hover:shadow-md">
            <div class="ring-2 ring-slate-200/50 w-16 h-16 group-hover:ring-slate-200 transition shadow shadow-slate-100 rounded-lg grid place-items-center -mt-16 bg-white">
              <item.Icon class="w-8 h-8" />
            </div>

            <h3 class="text-xl lg:text-2xl font-medium mt-4">{item.name}</h3>
            <p class="text-slate-600 mt-2 text-center [text-wrap:balance]">
              {item.description}
            </p>

            <div class="mt-3">
              <a
                href={item.link || "#"}
                class="text-sm px-2 transition py-1 text-indigo-600 hover:text-indigo-600 focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-indigo-500 focus-visible:outline-none focus-visible:shadow-outline-indigo rounded-full">
                View Experiment
                <span class="absolute inset-0" />
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </Container>
</Layout>
